body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.nav-link {
    font-family: Lucida Console;
    color: white;
}

.main {
    padding: 100px 0 100px 0;
}

.main h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    color: black;
    padding-bottom: 50px;
}

.main p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-left: 100px;
    padding-bottom: 50px;
}

